<hero class="hero container">
  <div class="hero-left">
    <div class="hero-main">
      <h1 class="title">ice cream made with <span class="title-correction">passion</span></h1>
      <a href="#part3" class="link-button--alternative">Products</a>
      <a href="#part2" class="link-button">How it’s made?</a>
    </div>
    <div class="hero-secondary">
      <p class="hero-secondary--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et</p>
      <a href="" class="link-button--arrow">
        <svg class="arrow" width="10" height="7">
          <use href="./images/sprite.svg#icon-arrow_right"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="hero-right">
    <div class="hero-third">
      <ul class="hero-third-ul">
        <li class="hero-third-ul-item">
          <span class="hero-third-ul-item-number">16</span>
          <p class="hero-third-ul-item-text">cafes</p>
        </li>
        <li class="hero-third-ul-item">
          <span class="hero-third-ul-item-number">23</span>
          <p class="hero-third-ul-item-text">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</hero>